body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Start of class="banner" */
.banner {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding-top: 100px;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

p {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

a {
    text-decoration: none;
    background-color: #FF5959;
    background-image: linear-gradient(#FF5959, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
}

/* end of class="banner" */
/* Start of class="donate-now" */
.donate-now {
    text-align: center;
}

#head-donate {
    color: black;
    text-align: center;
}

#para-donate {
    color: #7a7777;
    margin-bottom: 50px;
    text-align: center;
}

ul li {
    display: inline;
    background-color: rgb(225, 219, 219);
    padding: 20px 15px;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    color: rgb(165, 140, 140);
    margin-bottom: 50px;
}

#li-border {
    background-color: #FFEEEE;
    border: 2px solid red;
}

hr {
    width: 50%;
    border: 1px solid gray;
}

/* end of class="donate-now" */
/* Start of class="three-donate-plan" */
.three-donate-plan {
    display: flex;
    border: 1px solid tomato;
    padding: 20px;
    margin: 2px;
}

.donate-head {
    color: black;
    font-size: 30px;
}

.donate-desc {
    color: #7F7F7F;
    text-align: justify;
}

.donate-for-food {
    padding: 25px;
    background-color: #EDF5F6;
    margin-right: 2%;
}

.donate-for-family {
    padding: 25px;
    background-color: #FFEEEE;
    margin-right: 2%;
}

.donate-for-child {
    padding: 25px;
    background-color: #FFF4D6;
}

/* End of class="three-donate-plan" */
/*Start Bonous section*/

.input-form {

    background-color: #FFF4D9;
    text-align: center;
    width: 50%;
    height: 100px;
    padding-top: 65px;
    margin-left: 25%;
    margin-bottom: 50px;
}

#email {
    background-color: #D9D9D9;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 2px;
}

#button {
    color: whitesmoke;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
}

/* End Bonous section*/

/*Start footer section*/
footer {
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #0B0D17;
}

footer h3 {
    color: #FF5959;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

footer p {
    color: whitesmoke;
    font-size: 14px;
}

/*End footer section*/